<a href="https://colab.research.google.com/github/stardustmayank/SF-Salaries/blob/main/SF_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset:** [SF Salaries](https://www.kaggle.com/datasets/kaggle/sf-salaries)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salaries.csv')

### 1.Display Top 10 Rows of The Dataset

In [3]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011.0,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011.0,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011.0,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011.0,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011.0,NaN,San Francisco,NaN

### 2. Check Last 10 Rows of The Dataset

In [4]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
59223,59224,Allan Tan,Custodian,51492.80,2557.61,2321.53,28330.69,56371.94,84702.63,2012.0,NaN,San Francisco,NaN
59224,59225,Edwin Mendoza,Custodian,51696.60,2709.15,1879.40,28415.00,56285.15,84700.15,2012.0,NaN,San Francisco,NaN
59225,59226,Josephine Muir,Senior Clerk,56237.01,0.00,0.00,28462.15,56237.01,84699.16,2012.0,NaN,San Francisco,NaN
59226,59227,Erin Gadbois,Senior Telephone Operator,53951.50,2839.53,12.23,27893.48,56803.26,84696.74,2012.0,NaN,San Francisco,NaN
59227,59228,Robert Wu,Library Assistant,56237.04,0.00,83.40,28375.41,56320.44,84695.85,2012.0,NaN,San Francisco,NaN
59228,59229,Gwen Brister,Porter,51492.80,5322.74,624.00,27255.22,57439.54,84694.76,2012.0,NaN,San Francisco,NaN
59229,59230,Shawn Sherburne,Manager III,57234.01,0.00,1500.00,25955.53,58734.01,84689.54,2012.0,NaN,San Francisco,NaN
59230,59231,George Toy,Senior Clerk Typist,56125.73,0.00,855.00,27704.89,56980.73,84685.62,2012.0,NaN,San Francisco,NaN
59231,59232,Henry Wong,Senior Clerk Typist,56237.00,0.00,288.00,28160.25,56525.00,84685.25,2012.0,NaN,San Francisco,NaN
59232,59233,Dian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
df.shape

(59233, 13)

In [6]:
df.size

770029

### 4. Getting Information About Our Dataset Like Total Number Rows,
### Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59233 entries, 0 to 59232
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                59233 non-null  int64
 1   EmployeeName      59233 non-null  object
 2   JobTitle          59232 non-null  object
 3   BasePay           59232 non-null  float64
 4   OvertimePay       59232 non-null  float64
 5   OtherPay          59232 non-null  float64
 6   Benefits          23073 non-null  float64
 7   TotalPay          59232 non-null  float64
 8   TotalPayBenefits  59232 non-null  float64
 9   Year              59232 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            59232 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 5.9+ MB

### 5.Check Null Values In The Dataset

In [12]:
df.isnull().sum()

Id                      0
EmployeeName            0
JobTitle                1
BasePay                 1
OvertimePay             1
OtherPay                1
Benefits            36160
TotalPay                1
TotalPayBenefits        1
Year                    1
Notes               59233
Agency                  1
Status              59233
dtype: int64

### 6. Drop ID, Notes, Agency and Status Columns

In [13]:
df = df.drop(['Id', 'Notes', 'Agency', 'Status'], axis = 1)

In [14]:
df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0
...,...,...,...,...,...,...,...,...,...
59228,Gwen Brister,Porter,51492.80,5322.74,624.00,27255.22,57439.54,84694.76,2012.0
59229,Shawn Sherburne,Manager III,57234.01,0.00,1500.00,25955.53,58734.01,84689.54,2012.0
59230,George Toy,Senior Clerk Typist,56125.73,0.00,855.00,27704.89,56980.73,84685.62,2012.0
59231,Henry Wong,Senior Clerk Typist,56237.00,0.00,288.00,28160.25,56525.00,84685.25,2012.0
59232,Dian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 7. Get Overall Statistics About The Dataframe

In [15]:
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,59232.000000,59232.000000,59232.000000,23073.000000,59232.000000,59232.000000,59232.000000
mean,74017.174481,5725.170210,4200.163650,36398.524862,83942.508341,98121.046363,2011.389536
std,39091.698816,11952.691712,8587.034226,7877.423615,46545.647819,56542.748916,0.487649
min,0.000000,0.000000,0.000000,171.410000,0.000000,0.000000,2011.000000
25%,53728.990000,0.000000,28.782500,31586.890000,58003.992500,59159.827500,2011.000000
50%,71610.580000,133.760000,1258.325000,35467.240000,79900.960000,97018.100000,2011.000000
75%,100604.100000,6162.625000,5119.480000,39671.710000,112735.722500,132181.392500,2012.000000
max,302578.000000,245131.880000,400184.250000,84681.820000,567595.430000,567595.430000,2012.000000

In [16]:
df.describe(include = 'all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,59233,59232,59232.000000,59232.000000,59232.000000,23073.000000,59232.000000,59232.000000,59232.000000
unique,56341,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Kevin Lee,TRANSIT OPERATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9,2388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,74017.174481,5725.170210,4200.163650,36398.524862,83942.508341,98121.046363,2011.389536
std,NaN,NaN,39091.698816,11952.691712,8587.034226,7877.423615,46545.647819,56542.748916,0.487649
min,NaN,NaN,0.000000,0.000000,0.000000,171.410000,0.000000,0.000000,2011.000000
25%,NaN,NaN,53728.990000,0.000000,28.782500,31586.890000,58003.992500,59159.827500,2011.000000
50%,NaN,NaN,71610.580000,133.760000,1258.325000,35467.240000,79900.960000,97018.100000,2011.000000
75%,NaN,NaN,100604.100000,6162.625000,5119.480000,39671.710000,112735.722500,132181.392500,2012.000000
max,NaN,NaN,302578.000000,245131.880000,400184.250000,84681.820000,567595.430000,567595.430000,2012.000000

### 8. Find Occurrence of The Employee Names  (Top 5)

In [17]:
df.head(3)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0

In [26]:
df['EmployeeName'].apply(lambda s: s.upper()).value_counts().head()

KEVIN LEE        18
STANLEY LEE      14
RICHARD LEE      14
MICHAEL BROWN    13
WILLIAM WONG     13
Name: EmployeeName, dtype: int64

### 9. Find The Number of Unique Job Titles

In [36]:
df['JobTitle'].nunique()

1974

### 10. Total Number of Job Titles Contain Captain

### 11. Display All the Employee Names From Fire Department

### 12. Find Minimum, Maximum and Average BasePay

### 13. Replace 'Not Provided' in EmployeeName' Column to NaN

### 14. Drop The Rows Having 5 Missing Values

### 15. Find Job Title of ALBERT PARDINI

### 16. How Much ALBERT PARDINI Make (Include Benefits) ?

### 17. Display Name of The Person Having The Highest BasePay

### 18. Find Average BasePay of All Employee Per Year

### 19. Find Average BasePay of All Employee Per JobTitle

### 20. Find Average BasePay of Employee Having Job Title ACCOUNTANT

### 21. Find Top 5 Most Common Jobs