<a href="https://colab.research.google.com/github/stardustmayank/SF-Salaries/blob/main/SF_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset:** [SF Salaries](https://www.kaggle.com/datasets/kaggle/sf-salaries)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salaries.csv')

### 1.Display Top 10 Rows of The Dataset

In [3]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011.0,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011.0,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011.0,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011.0,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011.0,NaN,San Francisco,NaN

### 2. Check Last 10 Rows of The Dataset

In [4]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
49720,49721,Cheryl Wong,IS Administrator 2,84175.04,0.00,0.00,36207.16,84175.04,120382.20,2012.0,NaN,San Francisco,NaN
49721,49722,Lorna Gotera,Patient Care Assistant,63995.00,18277.02,5039.30,33070.74,87311.32,120382.06,2012.0,NaN,San Francisco,NaN
49722,49723,Simon Ma,Transit Operator,62867.26,21012.84,288.50,36213.04,84168.60,120381.64,2012.0,NaN,San Francisco,NaN
49723,49724,Annette Taylor,Senior Management Assistant,84053.71,0.00,623.70,35702.10,84677.41,120379.51,2012.0,NaN,San Francisco,NaN
49724,49725,Evelyn Doria,Licensed Vocational Nurse,68865.60,18210.47,250.00,33053.16,87326.07,120379.23,2012.0,NaN,San Francisco,NaN
49725,49726,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012.0,NaN,San Francisco,NaN
49726,49727,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012.0,NaN,San Francisco,NaN
49727,49728,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012.0,NaN,San Francisco,NaN
49728,49729,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012.0,NaN,San Francisco,NaN
49729,49730,Rachelle Axel,Senior Management Assistant,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
df.shape

(49730, 13)

In [6]:
df.size

646490

### 4. Getting Information About Our Dataset Like Total Number Rows,
### Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49730 entries, 0 to 49729
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                49730 non-null  int64
 1   EmployeeName      49730 non-null  object
 2   JobTitle          49730 non-null  object
 3   BasePay           49730 non-null  float64
 4   OvertimePay       49729 non-null  float64
 5   OtherPay          49729 non-null  float64
 6   Benefits          13570 non-null  float64
 7   TotalPay          49729 non-null  float64
 8   TotalPayBenefits  49729 non-null  float64
 9   Year              49729 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            49729 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.9+ MB

### 5.Check Null Values In The Dataset

In [8]:
df.isnull().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay                 0
OvertimePay             1
OtherPay                1
Benefits            36160
TotalPay                1
TotalPayBenefits        1
Year                    1
Notes               49730
Agency                  1
Status              49730
dtype: int64

### 6. Drop ID, Notes, Agency and Status Columns

In [9]:
df = df.drop(['Id', 'Notes', 'Agency', 'Status'], axis = 1)

In [10]:
df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0
...,...,...,...,...,...,...,...,...,...
49725,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012.0
49726,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012.0
49727,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012.0
49728,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012.0
49729,Rachelle Axel,Senior Management Assistant,8.00,NaN,NaN,NaN,NaN,NaN,NaN

### 7. Get Overall Statistics About The Dataframe

In [11]:
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,49730.000000,49729.000000,49729.000000,13570.000000,49729.000000,49729.000000,49729.000000
mean,75598.465810,6231.691032,4608.484444,40370.376006,86440.161334,97456.389337,2011.272879
std,42293.132137,12801.333149,9146.248973,7395.457091,50271.855952,61527.144045,0.445444
min,0.000000,0.000000,0.000000,189.790000,0.000000,0.000000,2011.000000
25%,48472.430000,0.000000,20.330000,36080.740000,52917.430000,52917.430000,2011.000000
50%,77251.210000,102.380000,1380.000000,38795.040000,88278.700000,91561.890000,2011.000000
75%,105934.660000,6673.030000,5922.060000,43152.130000,119925.870000,140845.590000,2012.000000
max,302578.000000,245131.880000,400184.250000,84681.820000,567595.430000,567595.430000,2012.000000

In [12]:
df.describe(include = 'all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,49730,49730,49730.000000,49729.000000,49729.000000,13570.000000,49729.000000,49729.000000,49729.000000
unique,47201,1685,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,KEVIN LEE,TRANSIT OPERATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9,2388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,75598.465810,6231.691032,4608.484444,40370.376006,86440.161334,97456.389337,2011.272879
std,NaN,NaN,42293.132137,12801.333149,9146.248973,7395.457091,50271.855952,61527.144045,0.445444
min,NaN,NaN,0.000000,0.000000,0.000000,189.790000,0.000000,0.000000,2011.000000
25%,NaN,NaN,48472.430000,0.000000,20.330000,36080.740000,52917.430000,52917.430000,2011.000000
50%,NaN,NaN,77251.210000,102.380000,1380.000000,38795.040000,88278.700000,91561.890000,2011.000000
75%,NaN,NaN,105934.660000,6673.030000,5922.060000,43152.130000,119925.870000,140845.590000,2012.000000
max,NaN,NaN,302578.000000,245131.880000,400184.250000,84681.820000,567595.430000,567595.430000,2012.000000

### 8. Find Occurrence of The Employee Names (Top 5)

In [13]:
df.head(3)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0

In [14]:
df['EmployeeName'].apply(lambda s: s.upper()).value_counts().head()

KEVIN LEE        14
RICHARD LEE      12
STANLEY LEE      12
STEVEN LEE       12
MICHAEL BROWN    12
Name: EmployeeName, dtype: int64

### 9. Find The Number of Unique Job Titles

In [15]:
df['JobTitle'].nunique()

1685

### 10. Total Number of Job Titles Contain Captain

In [16]:
df = df.dropna(subset = ['JobTitle'])
df.shape

(49730, 9)

In [17]:
df[df['JobTitle'].str.contains('Captain', case = False)].count()

EmployeeName        279
JobTitle            279
BasePay             279
OvertimePay         279
OtherPay            279
Benefits            138
TotalPay            279
TotalPayBenefits    279
Year                279
dtype: int64

### 11. Display All The Employee Names From Fire Department

In [18]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [21]:
df[df['JobTitle'].str.contains('Fire Department', case = False)]['EmployeeName']

4           PATRICK GARDNER
6                 ALSON LEE
8            MICHAEL MORRIS
9        JOANNE HAYES-WHITE
10            ARTHUR KENNEY
                ...
5498          VINCENT PEREZ
8436          JENSEN RHODES
16285       AARON STEVENSON
32623          JAMES BARDEN
36162    Joanne Hayes-White
Name: EmployeeName, Length: 223, dtype: object

### 12. Find Minimum, Maximum and Average BasePay

In [24]:
df['BasePay'].describe()

count     49730.000000
mean      75598.465810
std       42293.132137
min           0.000000
25%       48472.430000
50%       77251.210000
75%      105934.660000
max      302578.000000
Name: BasePay, dtype: float64

### 13. Replace 'Not Provided' in EmployeeName' Column to NaN

In [25]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [26]:
import numpy as np

In [27]:
df['EmployeeName'] = df['EmployeeName'].replace('Not Provided', np.nan)

### 14. Drop The Rows Having 5 Missing Values

In [28]:
df.drop(df[df.isnull().sum(axis = 1) == 5].index, axis = 0, inplace = True)

In [29]:
df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0
...,...,...,...,...,...,...,...,...,...
49725,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012.0
49726,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012.0
49727,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012.0
49728,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012.0
49729,Rachelle Axel,Senior Management Assistant,8.00,NaN,NaN,NaN,NaN,NaN,NaN

### 15. Find Job Title of ALBERT PARDINI

In [31]:
df[df['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

### 16. How Much ALBERT PARDINI Make (Include Benefits) ?

In [32]:
df[df['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

### 17. Display Name of The Person Having The Highest BasePay

In [37]:
df[df['BasePay'].max() == df['BasePay']]['EmployeeName']

36160    Gregory Suhr
Name: EmployeeName, dtype: object

### 18. Find Average BasePay of All Employee Per Year

In [38]:
df['BasePay'].mean()

75598.46581017495

In [43]:
df.groupby('Year').mean()['BasePay']

<ipython-input-43-d6ec57df777a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()['BasePay']

Year
2011.0     63595.956517
2012.0    107586.256820
Name: BasePay, dtype: float64

### 19. Find Average BasePay of All Employee Per JobTitle

In [44]:
df.groupby('JobTitle').mean()['BasePay']

<ipython-input-44-8e8087c7f9d8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('JobTitle').mean()['BasePay']

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACUPUNCTURIST                                     66374.400000
ADMINISTRATIVE ANALYST                            63435.628602
                                                      ...
Wire Rope Cable Maint Sprv                        88634.010000
Worker's Comp Supervisor 1                        98807.242500
X-RAY LABORATORY AIDE                             47664.773077
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 1685, dtype: float64

### 20. Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [47]:
df[df['JobTitle'].str.contains('ACCOUNTANT', case = False)]['BasePay'].mean()

71206.01514367816

### 21. Find Top 5 Most Common Jobs

In [49]:
df['JobTitle'].value_counts().head()

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse     996
CUSTODIAN            796
Name: JobTitle, dtype: int64